# phpstorm project files
.idea

# netbeans project files
nbproject

# zend studio for eclipse project files
.buildpath
.project
.settings

# windows thumbnail cache
Thumbs.db

# composer vendor dir
/vendor

# composer itself is not needed
composer.phar

# Mac DS_Store Files
.DS_Store

# phpunit itself is not needed
phpunit.phar
# local phpunit config
/phpunit.xml

tests/_support/_generated

#vagrant folder
/.vagrant

/assets/data/
/config/params.php
/config/db.php
/config/mongo.php
/config/test_db.php
/migrations/data/

/web/.htaccess
/web/index-test.php
